body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  background: #e8e8e8;
  transition: height 0.5s ease;
}

.digital {
  font-family: 'Digital', sans-serif;
  font-weight: 900;
}

.lengkung {
  border-radius: 0px 0px 40px 40px;
}

.hijau {
  background-color: #32a05f;
}

.glow {
  text-shadow: 0px 0px 30px rgb(176, 255, 202);
}

.neutank {
  background: #c9c9c9;
  -webkit-box-shadow: inset 2.4px 2.4px 10px #A3A3A3, inset -2.4px -2.4px 10px #EFEFEF;
  box-shadow: inset 2.4px 2.4px 10px #A3A3A3, inset -2.4px -2.4px 10px #EFEFEF;
}

.neumorphism {
  background: #e8e8e8;
  box-shadow: 7px 7px 14px #c5c5c5,
    -7px -7px 14px #ffffff;
}

.neumorphism2 {
  background: #e8e8e8;
  box-shadow: 5px 5px 10px #c5c5c5,
    -5px -5px 10px #ffffff;
}

/*  */
/* Sembunyikan preload secara default */
#preload {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  /* Background semi-transparan */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  /* Efek blur */
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

/* Animasi putaran untuk ikon fa-leaf */
#preload .fa-leaf {
  font-size: 4em;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*  */

#tanklevel1,
#tanklevel2,
#tanklevel3,
#tanklevel4 {
  transition: height 0.5s ease;
}

/*  */
.swal2-popup {
  font-family: 'Montserrat', sans-serif;
  font-size: 85%;
  /* Perkecil tampilan sebesar 10% */
  border-radius: 30px;
  /* Membuat sudut lebih membulat */
}

.swal2-confirm,
.swal2-cancel {
  border-radius: 30px;
  /* Membulatkan sudut tombol */
}

.swal2-styled {
  width: 120px;
  /* Sesuaikan lebar tombol sesuai kebutuhan */
}

.swal2-container.swal2-backdrop-show {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background: rgba(0, 0, 0, 0.5);
}